<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Trud.io - True Studio Experience</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/vendor/initializr/css/normalize.min.css">
        <link rel="stylesheet" href="/vendor/initializr/css/main.css">

        <link rel="stylesheet" href="/css/screen.css">

        <script src="/vendor/initializr/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="signup">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="">
            <div class="main wrapper clearfix">
              <section>
                <div class="hero">
                  <div class="hero-inner">
                    <a href="" class="" id="main_logo_link">
                      <!-- <img src="/static/img/logo_white.png" alt="" > -->
                      <!-- <img src="/static/img/logo_white_sm.png" alt="" > -->
                    </a>
                    <div class="hero-copy">
                      <h3>We've sent a confirmation link to your email. Please check your email and click the confirmation link.</h3>
                    </div>
                  </div>
                </div>
              </section>
              <footer>
                <p class="tac"><a href="mailto:admin@trud.io">Questions?</a></p>
              </footer>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

       <!--  <div class="footer-container">
          <footer class="wrapper">
              <p> <a href="mailto:info@trud.io">info@trud.io</a></p>
          </footer>
        </div> -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="/vendor/initializr/js/main.js"></script>
        <script src="/vendor/ResponsiveSlides.js/responsiveslides.min.js"></script>
        
        <script src="/vendor/vegas/jquery.vegas.js"></script>
        <link rel="stylesheet" href="/vendor/vegas/jquery.vegas.css">
        
        <script type="text/javascript">
        $(function() {
          $.vegas({
            src:'/vendor/vegas/images/gigpig.jpg'
          });
          $.vegas('overlay', {
            src:'/vendor/vegas/overlays/13.png'
          });
        });
        </script>

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>

