<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Trud.io - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/vendor/initializr/css/normalize.min.css">
        <link rel="stylesheet" href="/vendor/initializr/css/main.css">
        
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="/vendor/fancybox/source/jquery.fancybox.css" media="screen" />
        
        <link rel="stylesheet" href="/css/screen.css">

        <script src="/vendor/initializr/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="home">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header id="main_header" class="wrapper clearfix">
              <div id="logo-holder">
                <a class="logolink" href="/index.html">
                  <img src="/static/img/logo.png">
                </a>
              </div>
                
                <nav>
                    <ul>
                        <li><a href="/templates/bitters.html">Find a Studio</a></li>
                        <li><a href="/templates/refills.html">Add Your Studio</a></li>
                        <li><a href="/templates/article.html">Login / Signup</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
              <!-- <section>
                <div class="hero">
                  <div class="hero-inner">
                    <a href="" class="hero-logo"><img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""></a>
                    <div class="hero-copy">
                      <h1>True Studio Experience</h1>
                      <p>A few reasons why this product is worth using, who is it for and why do they need it.</p>  
                    </div>
                    <button>Find a Studio</button>
                  </div>
                </div>
              </section> -->
              <section class="slider_holder">
                
                <div id="professional_slider">
                  <ul class="rslides">
                    <li>
                      <img src="/images/studio1.jpg" alt="">
                      <div class="studio_overview">
                        <h1>Gigpiglet</h1>
                        <span>Mixing &middot;</span>
                        <span>Mastering &middot;</span>
                        <span>Recording &middot;</span>
                        <span class="studio_genre">Pop</span>
                        <span class="studio_location"><i class="fa fa-map-marker"></i> Sydney</span> <!-- <span>NSW</span> -->
                        <button>Book Session</button>
                      </div>
                    </li>
                    <li>
                      <img src="/images/studio2.jpg" alt="">
                      <div class="studio_overview">
                        <h1>The Green Room</h1>
                        <!-- <span>Mixing &middot;</span> -->
                        <span>Mastering &middot;</span>
                        <span>Recording &middot;</span>
                        <span class="studio_genre">Pop</span>
                        <span class="studio_location"><i class="fa fa-map-marker"></i> Sydney</span> <!-- <span>NSW</span> -->
                        <button>Book Session</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              
              <div id="studio_filter" style="text-align: center; max-width: 70%; margin: 80px auto; float: none;">
                <p>
                  <label for="text_field"><h2>What Kind of Studio Are You Looking For?</h2></label>  
                  <input type="text" id="text_field_1" />
                  <input type="text" id="text_field_2" />
                  <input type="text" id="text_field_3" />
                </p>
                <p>
                  <label for="checkboxes">Filter Studios by Genre:</label>
                  <input type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Rock
                  <input type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Pop
                  <input type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> HipHop/RnB
                  <input type="checkbox" class="checkbox" name="checkboxes" value="check_4" /> Country
                  <input type="checkbox" class="checkbox" name="checkboxes" value="check_5" /> Electronic
                </p>
                <p><button>Find Me a Studio</button></p>
              </div>

              <h4>Studio Profile Results</h4>

              <div class="cards">
                <div class="card">
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains.png" alt="">
                  </div>
                  <div class="card-header">
                    Studio 1
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <li><span>Mixing</span></li>
                      <li><span>Mastering</span></li>
                      <li><span>Recording</span></li>
                    </ul>
                  </div>
                </div>

                <div class="card">
                  <div class="ribbon-wrapper"><div class="ribbon">RIBBON</div></div>
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains-4.png" alt="">
                  </div>
                  <div class="card-header">
                    Studio 2
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <!-- <li><span>Mixing</span></li> -->
                      <li><span>Mastering</span></li>
                      <li><span>Recording</span></li>
                    </ul>
                  </div>
                </div>

                <div class="card">
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains-3.png" alt="">
                  </div>
                  <div class="card-header">
                    Studio 3
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <!-- <li><span>Mixing</span></li> -->
                      <li><span>Mastering</span></li>
                      <li><span>Recording</span></li>
                      <li><span>Editing</span></li>
                      <!-- <li><span></span></li> -->
                    </ul>
                  </div>
                </div>
              </div>

              <img src="/images/map.jpg">

              <div id="why_youll_love_trudio" style="text-align: center; max-width: 70%; margin: 80px auto; float: none;">
                <h1>Why You'll Love Trudio</h1>
                <p>
                  We believe that booking sessions should be a simple, clear and straight forward process for everyone involved. All trud.io rates are based on a standard 10 hour day. All sessions are prepaid in advance. All experiences are rated This way y’all know what the deal is!  
                </p>
              </div>
              
              <div class="cards">
                <div class="card">
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains.png" alt="">
                  </div>
                  <div class="card-header">
                    New to the Studio?
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                    <p><button>Find a Studio</button></p>
                  </div>
                </div>

                <div class="card">
                  <!-- <div class="ribbon-wrapper"><div class="ribbon">RIBBON</div></div> -->
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains-4.png" alt="">
                  </div>
                  <div class="card-header">
                    Experienced Artist?
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                    <p><button>Explore Studios</button></p>
                  </div>
                </div>

                <div class="card">
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains-3.png" alt="">
                  </div>
                  <div class="card-header">
                    Studio / Producer?
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                    <p><button>Add Your Studio</button></p>
                  </div>
                </div>
              </div> <!-- end cards -->

            <div id="professional_filter" style="text-align: center; max-width: 70%; margin: 80px auto; float: none;">
              <p>
                <label for="text_field"><h2>Already Have Someone in Mind?</h2></label>  
                <input type="text" id="text_field_1" />
                <button>Find Professional</button>
              </p>
            </div>

            <div id="professional_slider">
              <ul class="rslides">
                <li>
                  <img src="/images/pro1.jpg" alt="">
                  <div class="studio_overview">
                    <h1>John Smith</h1>
                    <span>Mixing &middot;</span>
                   <!--  <span>Mastering &middot;</span>
                    <span>Recording &middot;</span> -->
                    <span class="studio_genre">Electronic</span>
                    <span class="studio_location"><i class="fa fa-map-marker"></i> New York</span> <!-- <span>NSW</span> -->
                    <button>Book Session</button>
                  </div>
                </li>
                <li>
                  <img src="/images/pro2.jpg" alt="">
                  <div class="studio_overview">
                    <h1>Calvin Frederick</h1>
                    <!-- <span>Mastering &middot;</span> -->
                    <span>Recording &middot;</span>
                    <span class="studio_genre">Hip Hop</span>
                    <span class="studio_location"><i class="fa fa-map-marker"></i> Los Angeles</span> <!-- <span>NSW</span> -->
                    <button>Book Session</button>
                  </div>
                </li>
              </ul>
            </div>
            

              
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="/vendor/initializr/js/main.js"></script>
        <script src="/vendor/ResponsiveSlides.js/responsiveslides.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>

