<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/vendor/initializr/css/normalize.min.css">
        <link rel="stylesheet" href="/vendor/initializr/css/main.css">
        <link rel="stylesheet" href="/css/screen.css">

        <script src="/vendor/initializr/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="/index.html"><h1 class="title">Homepage</h1></a>
                <nav>
                    <ul>
                        <li><a href="/templates/bitters.html">Bitters</a></li>
                        <li><a href="/templates/refills.html">Refills</a></li>
                        <li><a href="/templates/article.html">Article</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
              
              <section>
                <p>Full width section variables and structure for Bourbon projects. Built for speed. Bitters is meant to help designers start projects fa</p>
              </section>


              <h1>Hero Section</h1>
              <div class="hero">
                <div class="hero-inner">
                  <a href="" class="hero-logo"><img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""></a>
                  <div class="hero-copy">
                    <h1>Short description of Product</h1>
                    <p>A few reasons why this product is worth using, who is it for and why do they need it.</p>  
                  </div>
                  <button>Learn More</button>
                </div>
              </div>

              <h1>Hero Section</h1>
              <div class="hero">
                <div class="hero-inner">
                  <a href="" class="hero-logo"><img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""></a>
                  <div class="hero-copy">
                    <h1>True Studio Experience</h1>
                    <p>A few reasons why this product is worth using, who is it for and why do they need it.</p>  
                  </div>
                  <button>Learn More</button>
                </div>
              </div>


              <h1>Grid Items</h1>
              <div class="grid-items">
                <a href="javascript:void(0)" class="grid-item">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
                  <h1>Grid Item</h1>
                  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                </a>
                <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
                  <h1>Grid Item With an Image</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                </a>
                <a href="javascript:void(0)" class="grid-item grid-item-big">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
                  <h1>Another Wide Item</h1>
                  <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
                </a>
                <a href="javascript:void(0)" class="grid-item">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
                  <h1>Last Grid Item</h1>
                  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                </a>
                <a href="javascript:void(0)" class="grid-item">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
                  <h1>Last Grid Item</h1>
                  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                </a>
                <a href="javascript:void(0)" class="grid-item">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
                  <h1>A Grid Item</h1>
                  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                </a>
                <a href="javascript:void(0)" class="grid-item">
                  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
                  <h1>Item</h1>
                  <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
                </a>
              </div>

              <h1>Cards</h1>

              <div class="cards">
                <div class="card">
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains.png" alt="">
                  </div>
                  <div class="card-header">
                    First Card
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <li>98<span>Items</span></li>
                      <li>298<span>Things</span></li>
                      <li>923<span>Objects</span></li>
                    </ul>
                  </div>
                </div>

                <div class="card">
                  <div class="ribbon-wrapper"><div class="ribbon">RIBBON</div></div>
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains-4.png" alt="">
                  </div>
                  <div class="card-header">
                    Another Card
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <li>98<span>Items</span></li>
                      <li>298<span>Things</span></li>
                      <li>923<span>Objects</span></li>
                    </ul>
                  </div>
                </div>

                <div class="card">
                  <div class="card-image">
                    <img src="https://raw.github.com/Magnus-G/Random/master/mountains-3.png" alt="">
                  </div>
                  <div class="card-header">
                    The Last Card
                  </div>
                  <div class="card-copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
                  </div>
                  <div class="card-stats">
                    <ul>
                      <li>98<span>Items</span></li>
                      <li>298<span>Things</span></li>
                      <li>923<span>Objects</span></li>
                    </ul>
                  </div>
                </div>
              </div>

              <h1>Bullet List</h1>
              <div class="bullets">
                <div class="bullet three-col-bullet">
                  <div class="bullet-icon bullet-icon-1">
                    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
                  </div>
                  <div class="bullet-content">
                    <h2>This Bullet Title</h2>
                    <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
                    </div>
                </div>  
                <div class="bullet three-col-bullet">
                  <div class="bullet-icon bullet-icon-2">
                    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
                  </div>
                  <div class="bullet-content">
                    <h2>Another Bullet Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
                  </div>
                </div>
                <div class="bullet three-col-bullet">
                  <div class="bullet-icon bullet-icon-3">
                    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_4.png" alt="">
                  </div>
                  <div class="bullet-content">
                    <h2>Last Bullet Title</h2>
                    <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
                  </div>
                </div> 
              </div>
              <h1>Bullet List Two</h1>
              <div class="bullets">
                <div class="bullet two-col-bullet">
                  <div class="bullet-icon bullet-icon-1">
                    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
                  </div>
                  <div class="bullet-content">
                    <h2>This Bullet Title</h2>
                    <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
                    </div>
                </div>  
                <div class="bullet two-col-bullet">
                  <div class="bullet-icon bullet-icon-2">
                    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
                  </div>
                  <div class="bullet-content">
                    <h2>Another Bullet Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
                  </div>
                </div>
              </div>

              
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="/vendor/initializr/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>

